* {margin:0; padding:0}
#wrapper {width:751px;}
#container {position:relative; background:#fff;  height:440px; border-right:1px solid #ccc; border-bottom:1px solid #ccc}
.sliderbutton {float:left; width:25px; height:235px; cursor:pointer}
#slideleft {background:url(icons.gif) -50px -265px no-repeat}
#slideleft:hover {background-position:-0 -265px}
#slideright {background:url(icons.gif) 0 90px no-repeat}
#slideright:hover {background-position:-50px 90px}
#slider {float:left; position:relative; overflow:auto; width:700px; height:440px}
#slider ul {position:absolute; list-style:none; top:0; left:0}
#slider li {float:left; width:700px; height:235px}
.pagination {position:absolute; top:10px; right:40px; list-style:none; height:25px}
.pagination li {float:left; cursor:pointer; height:8px; width:8px; background:#ccc; margin:0 5px 0 0; border:1px solid #fff}
.pagination li:hover, li.current {background:#fff}